{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="article_container">
    <div class="article_page">
        <span style="font-size: 16px;">
            in: 
            <a style="color: rgb(194, 6, 219);">{{ object.category }}</a>
            <br>
        </span>
        <h2><b class="different-color" style="font-size:48px;">{{ object.title }}</b> 
            <br>
        </h2> <hr>
        <div class="super_container">
            <div class="article_page_content">
                {{ object.entry|linebreaks|safe }} 
                <br>
                {% if request.user.username == article.wiki_author.username %}
                    <a href="{{article.get_update_url}}" style="float:right;">
                        <button>Edit Article?</button></a>
                {% endif %}
            </div>
            {% if object.header_image %}
            <br>
            <div class="image_container">
                <img src="{{ object.header_image.url }}" alt="Header Image" class="article_image" style="width:320px; border-radius:4px;">
                <hr>
                <p class="alt_text">{{ object.title }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="comment_page">
    <b><h2>Comments</h2></b>
   
    Add a comment?
    <br>
   
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comment</button>
    </form>

    <br><br>

    {% for comments in object.comment.all %}
        <p><b>{{ comments.wiki_author }}</b> - <span class="comment_detail">
            {{ comments.created_on }} 

        </span>
        </p>

        <p>{{ comments.entry }}</p>
        <br>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
</div>

{% endblock %}
  
    